<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <meta name="format-detection" content="telephone=no"/>
    <meta name="format-detection" content="email=no"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0, user-scalable=0">
    <title>ChatRoom</title>
    <!--css-->
    <link rel="stylesheet" href="/bootstrap/dist/css/bootstrap.css">
    <link rel="stylesheet" href="/bootstrap/dist/css/bootstrap-theme.css">
    <link rel="stylesheet" href="/stylesheets/style.css">
    <!--js-->
    <script type="text/javascript" src="/jquery/dist/jquery.js"></script>
    <script type="text/javascript" src="/bootstrap/dist/js/bootstrap.js"></script>
    <!--socket-->
    <script type="text/javascript" src="/socket/socket.io.js"></script>
</head>
<body>
<div class="container" >
    <div class="row col-md-12">
        {{{ body }}}
    </div>
    <script type="text/javascript" src="/javascripts/client.js"></script>
</div>
</body>
</html>